.mainWrapper {
    background-color: transparent;
    border-radius: 5px;
    max-width: 1000px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15rem;
    padding: 15px 3px 35px;
    min-height: 100%;
    margin: 0 auto;
}